body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333;
  background-color: white;
  margin: 0px;
  width: 100%;    
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}      

h1 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -0.05em;
  color: #111;
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-top: 30px;  
}

.tweet {
  background-color: black;
  margin-top: 27px;
  width: 940px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  padding-top: 18px;
  padding-bottom: 15px;
}

.tweet li {
  color: white;
  font-size: 14px;
  font-family: Menlo, Monaco, sans-serif;
  line-height: 1.5;
} 

.tweet ul {
  list-style: none;
}

.tweet .title {
  color: #73C5DD;
}

.tweet .detail {
  color: #AAAAAA;
}

